<div class="row">
    {{#this}}
    <div class="card border-info mb-3 nopadding" style="max-width: 18rem;">
        <div class="card-body text-info">
            <a href="#/photos/{{id}}">
                <img class="rounded" src="https://picsum.photos/250/300/?random&giud=@({{id}})" class="img-responsive">
            </a>
            <span class="card-title">
                <h4>{{title}}</h4>
            </span>
            <spanlass="card-text">by: {{author}}</span>
        </div>
    </div>
    {{/this}}
</div>