<section class="portfolio" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            {{#this}}
            <div class="gallery_product col-sm-3 col-xs-6 filter">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/800/600??random&giud=@({{id}})">
                    <img class="img-responsive" src="https://picsum.photos/800/350/?random&giud=@({{id}})" />
                    <div class='img-info'>
                        <h4>{{title}}</h4>
                        <p>author: {{author}}</p>
                    </div>
                </a>
            </div>
            {{/this}}
        </div>
    </div>
</section>