<div class="card">
  <h5 class="card-header">Author: {{author}}</h5>
  <div class="card-body">
      <picture>
        <img class="rounded" src="https://picsum.photos/300/200/?random&giud=@({{id}})" class="img-responsive">
    </picture>
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{description}}</p>
    <a href="#" class="btn btn-info">Add to Favorite</a>
  </div>
</div>